[Unit]
Description=Amero X Mainnet Node 1
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/Amero X MainNet
ExecStart=/usr/local/bin/polygon-edge server --data-dir ./node1 --chain ./genesis.json --grpc-address :10000 --libp2p :1478 --jsonrpc :8545 --seal
StandardOutput=append:/root/Amero X MainNet/node1.log
StandardError=append:/root/Amero X MainNet/node1.log
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
